@tailwind base;
@tailwind components;
@tailwind utilities;

.navItem{
    @apply p-2 md:p-3 ml-1 md:ml-3 mr-1 md:mr-3 hover:text-orange-500 md:hover:text-orange-500
}
.navHolder{
    @apply block shadow-gray-100 shadow-sm rounded-md md:rounded-none md:shadow-none text-white bg-black absolute md:relative mt-4 md:mt-0 md:text-white md:flex md:bg-blue-950 w-auto
}
#menuBar{
    @apply invisible md:visible
}
.serviceHolder{
    @apply bg-white rounded-md shadow-md p-3 w-80 ml-0 md:ml-7  text-black hover:text-white hover:bg-black mb-6 md:mb-0
}
.abtHolder{
    @apply bg-white hover:bg-black text-black hover:text-white ml-0 md:ml-10 p-7 mt-10 md:mt-0 shadow-md
}
.abtH2{
    @apply text-center text-orange-500 text-lg pb-5
}
.eventHolder{
    @apply bg-gray-200 w-full md:w-9/12 object-cover shadow-sm shadow-gray-200
}
.member{
    @apply h-64 w-full md:w-full object-cover shadow-sm shadow-gray-200
}
.blogHolder{
    @apply bg-gray-950 text-white h-auto w-auto shadow-2xl
}
.blogImg{
@apply w-full object-cover h-56
}
.blogH4{
    @apply  bg-gray-50  p-2 mt-4 w-44 text-black font-semibold text-lg
}
.reveal{
    position:relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2000ms ease;
}
.reveal.active{
    transform: translateX(0px);
    opacity: 1;

}
.fImg{
    @apply w-5 ml-3
}
.fNav{
    @apply text-blue-700 hover:text-orange-500
}
.hImg{
    @apply w-5 md:w-10 mt-3
}
*{
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
.main{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.main::before{
    content:"";
    position: absolute;
    height: 100vh;
    width: 100%;
    color: white;
    background-color:rgb(0,0,0,0.4);
}
#text-container{
    font-weight: 400px;
    color: white;
    z-index:100;
}
